<br />
<br />
<h1>Welcome to  ISHIDO</h1>
<div>
  Start a
  <%= form_with(url: games_path, method: 'post', local: true, class: "inline-form")  do %>
    <%= submit_tag "new Game", name: "game[submit]" %>
  <% end %>
</div>
<p>
  Read the <%= link_to 'Rules', simple_pages_rules_path, class: "edit-link" %>
</p>
<p>
  <%= render partial: "shared/highscores", locals: { scores: Score.value_desc.first(3) } %>
  See all <%= link_to 'Highscores', scores_path, class: "edit-link" %>
</p>
<p>
</p>
