<%# # partial for displaying highscores, local variable: scores %>
<table class="highscores">
  <tbody>
    <% scores.each_with_index do |score, idx| %>
      <tr>
        <td><%= idx + 1 %>.</td>
        <td><%= score.user.first_name %> <%= score.user.last_name %></td>
        <td><span class="score"><%= score.value %></span></td>
        <td><%= time_ago_in_words(score.updated_at) %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>
