<%# # partial for displaying highscores, local variable: scores %>
<table class="highscores">
  <tbody>
    <% scores.each_with_index do |score, idx| %>
      <tr>
        <td class="rank"><%= idx + 1 %>.</td>
        <td class="name"><%= score.user.first_name %> <%= score.user.last_name %></td>
        <td class="score"><%= score.value %></td>
        <td class="time"><%= time_ago_in_words(score.updated_at) %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>
