<%# local variables: board_x, board_y %>
<%# render one square of the board, mark places where the current stone might be placed %>

<% stone = @game.get_stone(board_x, board_y).dup %>
<% fit_class = fit_indicator_class(@game.current_stone_fit_count(board_x, board_y)) %>
<% if fit_class == "" # normal square %>
  <div class="board-square"><span class='stone color<%= stone["color"] %>' ><%= stone["symbol"] %></span></div>
<% else  %>
  <div class="board-square"><span class='stone <%= fit_class %>'
       data-board-x='<%= board_x %>'
       data-board-y='<%= board_y %>'><%= "\u25cf" %></span></div>
<% end %>
