<div class="container">
  <h1>Games</h1>
  <% if user_signed_in? %>
  <div class="row">
    <% @games.each do |game| %>
      <div class="col-12 col-md-6">
        <h3>Game # <%= game.id %>:
              <%= link_to "Play", game_path(game, name:game.name) %>
        </h3>
        <p><%= link_to 'Destroy', game, class: "edit-link",
                         method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      </div><!-- end col -->
    <% end %>
  </div><!-- end row -->
  <% end %>
  <p>
    <%= form_with(url: games_path, method: 'post', local: true, class: "inline-form")  do %>
        <%= submit_tag "New Game", name: "game[submit]" %>
    <% end %>
  </p>
</div>
