<%# the main layout has two yield-places, %>
<%# one in the main 'board area' and one in the aside area %>

<%# the board is written into the main area (yield)%>
<% if @game %>
  <div class="board">
    <% 8.times do |board_y| %>
      <% 12.times do |board_x| %>
        <%= render partial: "board_square", locals: { board_x: board_x, board_y: board_y } %>
      <% end %>
      <div style="clear: both;"></div>
    <% end %>
  </div><!-- end board -->
<% end %>

<%# the actions and scores are written into the aside column (yield :aside) %>
<% content_for :aside do %>
  <% if @game %>
    <p>
      <ul>
        <%# check singular/plural, insert 's' if necessary %>
        <li><span class="score"><%= @game.score %></span> <%= "point".pluralize(@game.score)%></li>
        <li>Rank <span class="score"><%= get_rank(@game.name) %></span>&nbsp;</li>
        <li><span class="score"><%= @game.four_count %></span> <%= "four-way".pluralize(@game.four_count) %></li>
        <li><span class="score"><%= 72 - @game.current_stone_id %></span>
                  <%= "stone".pluralize(72 - @game.current_stone_id) %> left</li>
      </ul>
    </p>
    <% if stone = @game.get_current_stone %>
       <div class="next-square">
         <span class='stone color<%= stone["color"] %>' ><%= stone["symbol"] %></span>
       </div>
    <% end %>
    <p>
      <%# undo move via put /games/:id/undo %>
      <%= form_tag( game_path(@game) + "/undo?name=" + @game.name, method: :put ) do %>
        <%= submit_tag "Undo" %>
      <% end %>
      (<span class="score"><%= (-@game.undo_penalty(@game.undo_count))  %></span> penalty)
      <%# set stone via put /games/:id/set_stone, called via JS when clicking on marked squares %>
      <%= form_tag( game_path(@game) + "/set_stone?name=" + @game.name, method: :put, id:"hidden-form") do %>
        <input type="hidden" id="board_x" name="board_x" value="2" />
        <input type="hidden" id="board_y" name="board_y" value="2" />
        <%= submit_tag "Set stone" %>
      <% end %>
    </p>
  <% end %>
<% end %>
